<!-- gallery -->

<div  class="gallery col-md-12" >
   <div class="container">
      <% if(pageName === 'programs') {%>
         <%- include('../partials/_programSearchBar.ejs') -%>
         <% } %>
         <% if(programs && programs.length !== 0) { %>
         <div class="row">
            <div class="col-sm-12">
               <div class="row">
                  <% for(let i=0; i < programs.length; i++) {%>
                     <div class="col-sm-6 col-md-4">
                        <div class="gallery_box">
                           <a class="gallery_img mb-0" href="/programs/<%= programs[i].slug%>">
                              <img src="/images/gallery1.jpg" alt="Bridge">
                           </a>
                           <div class="mt-0 pb-1 pt-1 text-center" style="background: white;">
                              <h3 class="px-4 mt-2 mb-1"><%= programs[i].name%></h3>
                              <% if(pageName === 'dashboard' && role === 'member') {%>
                                 <form method="post" action="/programs/release">
                                    <input type="hidden" name="programID" value="<%= programs[i]._id %>">
                                    <button type="submit" class="btn btn-danger px-4 mb-2 mt-1 mr-2 ml-2 text-white"><span>Release</span></button>
                                 </form>
                              <% } else if(pageName === 'dashboard' && role === 'trainer') { %>
                                 <a class="btn btn-warning px-4 mb-2 mt-1 mr-2 ml-2" data-toggle="modal" data-target="#editProgramModal<%= programs[i]._id %>"> <i class="fa fa-search-plus mr-1"></i>UPDATE</a>
                                 <a class="btn btn-danger px-4 mb-2 mt-1 mr-2 ml-2" href="/programs/<%= programs[i].slug%>?_method=DELETE" onclick="return confirm('ARE YOU SURE ?')"> <i class="fa fa-search-plus mr-1"></i>DELETE</a>
                              <% } else { %>
                                 <a class="btn btn-outline-primary px-4 mb-2 mt-1 mr-2 ml-2" href=" /programs/<%= programs[i].slug%>"> <i class="fa fa-search-plus mr-1"></i>INFO</a>
                              <% } %>



                           </div>
                        </div>
                     </div>
                  <% } %>
                  
               </div>
            </div>
         </div>
         <% } %>

      </div>
   </div> 
   
<!-- end gallery -->