<%- include('./partials/_header') -%>
<%- include('./partials/_navigation', {pageName: pageName}) -%>
<%if(user) {%>
<div class="back_re">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">
               <% if(user.role === 'trainer') {%>
                  <h2>CREATED ROGRAMS</h2>
               <% } else if (user.role === 'member') { %>
                  <h2>ENROLLED PROGRAMS</h2>
               <% } else { %> 
                  <h2>ADMIN PAGE</h2>
               <% } %>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="about">
   <div class="container">
      <div class="row mb-4">
         <div class="col-md-4 text-center mb-2 mt-2">
            <div class="about_img">
               <figure><img src="<%= user.image%>" alt="#" class="rounded"/></figure>
            </div>
         </div>
         <div class="col-md-4 text-center mb-2 mt-2">
            <div class="titlepage col-md-12">
               
                  <h2><%= user.name%></h2>
                  <p><b>Email: </b><%= user.email%></p>
                  <p><b>Phone: </b><%= user.phone%></p>
                  
                  <%if(user.role === 'trainer') {%>]
                     <p><b>Height </b><%= user.height%></p>
                     <p><b>Weight: </b><%= user.weight%></p>
                     <p><b>Proficiency: </b><%= user.proficiency.name%></p>
                     <p><b>Health Problem: </b><%= user.healthProblem%></p>
                  <% } else if(user.role === 'member') {%>
                     <p><b>Height </b><%= user.height%></p>
                     <p><b>Weight: </b><%= user.weight%></p>
                     <p><b>Health Problem: </b><%= user.healthProblem%></p>
                  <% } %>
                  
               
            </div>
         </div>
         <div class="col-md-4 my-auto">
            <div class="col-md-12">

               <button class="col-md-12 btn btn-md btn-outline-misfit rounded-2 mt-2" data-toggle="modal" data-target="#updateProfilePhotoModal">
                  <span>Update Image</span>
               </button>
               <button class="col-md-12 btn btn-md btn-outline-misfit rounded-2 mt-2" data-toggle="modal" data-target="#updateUserInfoModal">
                  <span>Update Info</span>
               </button>
               <% if(user.role === 'trainer') {%>
               <button class="col-md-12 btn btn-md btn-outline-misfit rounded-2 mt-2" data-toggle="modal" data-target="#createProgramModal">
                  <span>CREATE NEW PROGRAM</span>
               </button>
              <%} else if(user.role === 'admin') {%>
               <button class="col-md-12 btn btn-md btn-outline-misfit rounded-2 mt-2" data-toggle="modal" data-target="#createCategoryModal">
                  <span>Add Category</span>
               </button>
               <button class="col-md-12 btn btn-md btn-outline-misfit rounded-2 mt-2" data-toggle="modal" data-target="#createProficiencyModal">
                  <span>Add Proficiency</span>
               </button>
               <% } %>
            </div>
         </div>
         
      </div>

      <div class="row">
         <%if(user.role === 'admin'){%>
            <%- include('./sections/_adminSection') -%>  
         <%} else if(user.role === 'trainer') {%>
            <%- include('./sections/_programsSection' , {programs: programs, role:user.role}) -%>  
         <%} else {%>
            <%- include('./sections/_programsSection' , {programs: user.enrolledPrograms, role:user.role}) -%>  
         <% } %>

      </div>
       
   </div>
</div>
<%}%>

<!-- Trainer Modals -->
<%if(user.role === 'trainer'){%>
   <%# Comment: Here is for adding a new Program %>
   <%-include('./partials/modals/_trainerModals', {
      categories: categories, 
      modalID:'createProgramModal', 
      formID: 'createProgramForm', 
      program: null, 
      role:user.role
   })-%> 

   <%# Comment: Here is for updating the created Programs %>
   <% for(let i = 0; i < programs.length; i++) {%>
      <%-include('./partials/modals/_trainerModals', {
         categories: categories, 
         modalID:'editProgramModal'+programs[i]._id, 
         formID: 'createProgramForm'+programs[i]._id,
         program: programs[i], 
         role:user.role
      })-%>
   <% } %>

<%} %>

<!-- Admin Modals -->
<%- include('./partials/modals/_adminModals') -%>

<!-- Update User Info Modals -->
<%- include('./partials/modals/_userInfoFormModal', {
   modalID: 'updateUserInfoModal',
   title: 'User Information',
   formID: 'updateUserInfoForm',
   action: '/users/'+ user._id + '?_method=PUT',
   inputField: user 
}) -%>

<!-- Update User Profile Photo Modals -->

<%- include('./partials/modals/_userProfilePhotoModal') -%>



<%-include('./partials/_footer')-%>