<%- include('./partials/_header') -%>
<%- include('./partials/_navigation', {pageName: 'dashboard'}) -%>

<div class="back_re">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">
               <h2>Dashboard</h2>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="about">
   <div class="container">
      <div class="row d_flex">
         <div class="col-md-5">
            <div class="titlepage">
               <%if(user) {%>
                  <h2><%= user.name%></h2>
               <%}%>
               <p><%= message%></p>
            </div>
         </div>
         <div class="col-md-7">
            <div class="about_img">
               <figure><img src="/images/about.jpg" alt="#"/></figure>
            </div>
         </div>
      </div>
   </div>
</div>

<%-include('./partials/_footer')-%>