<%- include('./partials/_header') -%>
<%- include('./partials/_navigation',  {pageName: pageName}) -%>

<% if(program) {%>
<div class="back_re">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">
               <h2><%= program.name%></h2>
            </div>
         </div>
      </div>
   </div>
</div>
   
<div class="about">
   <div class="container">
      <div class="row d_flex">
         
         <div class="col-md-8 mb-2 mt-2">
            <ol>
               <li class="row  mb-2">
                  <div class="col-sm-6">
                     <h3>
                        <b>Program Contents:</b>
                     </h3>
                  </div>
                  <div class="col-sm-6">
                        <% for(let i =0; i < program.content.length; i++){ %>
                           <h3>* <%= program.content[i]%></h3>
                        <% } %>
                  </div>
               </li>
               <li class="row mb-2">
                  <div class="col-sm-6">
                     <h3><b>Recommended Week:</b></h3> 
                  </div>
                  <div class="col-sm-6">
                     <h3><%= program.recommendedWeek%></h3>
                  </div>
               </li>
               <li class="row  mb-2">
                  <div class="col-sm-6">
                     <h3><b>Category:</b></h3>
                  </div>
                  <div class="col-sm-6">
                     <% if(program.category){ %>
                        <h3><%= program.category.name%></h3>
                     <% } %>
                  </div>
               </li>
               <li class="row mb-2">
                  <div class="col-sm-6">
                     <h3><b>Trainer:</b></h3>
                  </div>
                  <div class="col-sm-6">
                    <h3><%= program.trainerID.name%></h3>
                  </div>
               </li>
            </ol>
            <%if(user && user.role === 'member' && !user.enrolledPrograms.includes(program._id)) { %>
               
               <form method="post" action="/programs/enroll">
                  <input type="hidden" name="programID" value="<%= program._id %>">
                  <button type="submit" class="btn btn-lg btn-warning text-white"><i class="fa fa-search-plus mr-1"></i>ENROLL</button>
               </form>
            <% } %>
         </div>
         <div class="col-md-4 mb-2 mt-2">
            <div class="about_img">
               <figure><img src="/images/about.jpg" alt="#"/></figure>
            </div>
         </div>
      </div>
   </div>
</div>

<% } %>
    
<%-include('./partials/_footer')-%>