<%- include('./partials/_header') -%>
<%- include('./partials/_navigation',  {pageName: pageName}) -%>

<% if(program) {%>
<div class="back_re">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">
               <h2><%= program.name%></h2>
            </div>
         </div>
      </div>
   </div>
</div>
   
<div class="about">
   <div class="container">
      <div class="row d_flex">
         
         <div class="col-md-8">
            <table class="table table-borderless">
               <tbody>
                  <tr>
                     <th scope="row">ID:</th>
                     <td><%= program._id%></td>
                   </tr>
                   <tr>
                     <th scope="row">Name:</th>
                     <td><%= program.name%></td>
                   </tr>
                   <tr>
                     <th scope="row">Description:</th>
                     <td><%= program.description%></td>
                   </tr>
                   <tr>
                     <th scope="row">Recommended Week:</th>
                     <td><%= program.recommendedWeek %></td>
                   </tr>
                   <tr>
                     <th scope="row">Category:</th>
                     <%if(program.category) {%>
                     <td><%= program.category.name%></td>
                     <%} else {%>
                        <td></td>
                     <%}%>
                   </tr>
                   <tr>
                     <th scope="row">Slug:</th>
                     <td><%= program.slug%></td>
                   </tr>
                   <tr>
                     <th scope="row">Trainer:</th>
                     <td><%= program.trainerID.name%></td>
                   </tr>
               </tbody>
            </table>
            <%if(user && user.role === 'member' && !user.enrolledPrograms.includes(program._id)) { %>
               
               <form method="post" action="/programs/enroll">
                  <input type="hidden" name="programID" value="<%= program._id %>">
                  <button type="submit" class="btn btn-lg btn-warning text-white"><i class="fa fa-search-plus mr-1"></i>ENROLL</button>
               </form>
            <% } %>
         </div>
         <div class="col-md-4">
            <div class="about_img">
               <figure><img src="/images/about.jpg" alt="#"/></figure>
            </div>
         </div>
      </div>
   </div>
</div>

<% } %>
    
<%-include('./partials/_footer')-%>