<%- include('./partials/_header') -%>
<%- include('./partials/_navigation',  {pageName: pageName}) -%>

<% if(trainer) {%>
<div class="back_re">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">
               <h2>Our Trainers</h2>
            </div>
         </div>
      </div>
   </div>
</div>
   
<div class="about">
   <div class="container">
      <div class="row d_flex">
         <div class="col-md-4">
            <div class="about_img">
               <figure><img src="<%= trainer.image%>" alt="#"/></figure>
            </div>
         </div>
         <div class="col-md-6 text-center">
            <ol>
               <li class="row  mb-2 mt-3">
                  <div class="col-sm-12 text-center">
                     <h2><%= trainer.name%></h2>
                  </div>
               </li>
               <li class="row mb-1">
                  <div class="col-sm-6">
                     <h3>Email:</h3> 
                  </div>
                  <div class="col-sm-6">
                     <p><%= trainer.email%></p>
                  </div>
               </li>
               <li class="row  mb-1">
                  <div class="col-sm-6">
                     <h3>Phone:</h3>
                  </div>
                  <div class="col-sm-6">
                     <p><%= trainer.phone%></p>
                  </div>
               </li>
               <li class="row  mb-1">
                  <div class="col-sm-6">
                     <h3>Proficiency:</h3>
                  </div>
                  <div class="col-sm-6">
                     <p><%= trainer.proficiency.name%></p>
                  </div>
               </li>
               
            </ol>
            
         </div>
         
      </div>
   </div>
</div>

<% } %>
    
<%-include('./partials/_footer')-%>