<div class="modal fade bd-example-modal-lg" id="<%= modalID %>" tabindex="-1" role="dialog" aria-labelledby="<%= modalID%>ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg border-0">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div class="titlepage mx-auto">
                    <h2 class="title mx-auto"> <%= title%></h2>
                </div>
                <button type="button" class="btn btn-outline-misfit" data-dismiss="modal"  aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <form id="<%= formID%>" class="main_form" method="post" action="<%= action%>">
                                <div class="row">
                                     <div class="col-md-12 ">
                                        <input class="contactus" placeholder="<%= placeholder%>" type="text" name="name" value="<%= inputField.name%>" required> 
                                     </div>  
                                     <div class="col-md-12">
                                        <button class="btn btn-warning px-4 mb-2 mt-1 mr-2 ml-2" type="submit" > <i class="fa fa-plus-square mr-1"></i><%= buttonText %></button>
                                        <button class="btn btn-danger px-4 mb-2 mt-1 mr-2 ml-2" type="reset" > <i class="fa fa-minus-circle mr-1"></i>CANCEL</button>
                                    </div>   
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 