<div class="modal fade bd-example-modal-lg" id="<%= modalID%>" tabindex="-1" role="dialog" aria-labelledby="<%= modalID %>ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg border-0">
        <div class="modal-content">
        <div class="modal-header text-center">
            <div class="titlepage mx-auto">
                <% if(program) { %>
                    <h2 class="title mx-auto"> Edit the Program</h2>
                <% } else { %>
                    <h2 class="title mx-auto"> Add a Program</h2>
                <% } %>
            </div>
            <button type="button" class="btn btn-outline-misfit" data-dismiss="modal" onclick="clearFormData('<%= formID%>');"  aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                                <% if(program) { %>
                                    <form class="main_form" id="<%= formID%>" method="post" action="/programs/<%= program.slug%>?_method=PUT">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <input class="contactus" placeholder="Program Name" type="text" name="name" value="<%= program.name %>"> 
                                            </div>
                                            <div class="col-md-12 ">
                                                <select class="contactus" placeholder="Category" name="category">
                                                    
                                                    <% for(let i=0; i< categories.length; i++) { %>
                                                        <% if(String(categories[i]._id) === String(program.category)) {%>
                                                            <option value="<%= categories[i]._id%>" selected><%= categories[i].name%></option>
                                                        <% } else { %>
                                                            <option value="<%= categories[i]._id%>" ><%= categories[i].name%></option>
                                                        <% } %>
                                                    <% } %>
                                                </select>
                                                </div>
                                            <div class="col-md-12 ">
                                                <input class="contactus" placeholder="Role" type="hidden" name="role" value="<%= role%>"> 
                                            </div>
                                            <div class="col-md-12 ">
                                                <input class="contactus" placeholder="Recommended Week" type="number" name="recommendedWeek" value="<%= program.recommendedWeek %>"> 
                                            </div>
                                            
                                            <div class="col-md-12">
                                                <textarea class="textarea" placeholder="Description" type="text" name="description"><%= program.description %></textarea>
                                            </div>

                                            <div class="col-md-12">
                                                <button class="btn btn-warning px-4 mb-2 mt-1 mr-2 ml-2" type="submit" > <i class="fa fa-plus-square mr-1"></i>UPDATE</button>
                                                <button class="btn btn-danger px-4 mb-2 mt-1 mr-2 ml-2" type="reset" data-dismiss="modal"> <i class="fa fa-search-plus mr-1"></i>CANCEL</button>
                                            </div>
                                        </div>
                                    </form>
                                <% } else {%>
                                    <form class="main_form" id="<%= formID%>" method="post" action="/programs">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <input class="contactus" placeholder="Program Name" type="text" name="name"> 
                                            </div>
                                            <div class="col-md-12 ">
                                                <select class="contactus" placeholder="Category" name="category">
                                                    <% for(let i=0; i< categories.length; i++) { %>
                                                        <option value="<%= categories[i]._id%>" ><%= categories[i].name%></option>
                                                    <% } %>
                                                </select>
                                                </div>
                                            <div class="col-md-12 ">
                                                <input class="contactus" placeholder="Role" type="hidden" name="role" value="<%=user.role%>"> 
                                            </div>
                                            <div class="col-md-12 ">
                                                <input class="contactus" placeholder="Recommended Week" type="number" name="recommendedWeek" > 
                                            </div>
                                            
                                            <div class="col-md-12" id="addProgramContentField">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                      <button type="button" title="Delete Content" class="btn program-content-delete-btn" data-dismiss="modal">
                                                            <span aria-hidden="true"><i class="fa fa-trash"></i></span>
                                                        </button>
                                                    </div>
                                                    <input name="content" type="text" class="form-control program-content" placeholder="Program Content" aria-label="" aria-describedby="basic-addon1" required>
                                                </div>
                                            </div>

                                            <div class="col-md-12 mb-3">
                                                <button type="button" title="Delete Content" class="btn btn-outline-misfit" onclick="addProgramContent()">
                                                    <span aria-hidden="true">Add Program Content</span>
                                                </button>
                                            </div>
                                            
                                            
                                            <div class="modal-footer col-md-12">
                                                <div class="col-md-12 mt-3">
                                                    <button class="btn btn-warning px-4 mb-2 mt-1 mr-2 ml-2" type="submit" > <i class="fa fa-plus-square mr-1"></i>ADD</button>
                                                    <button class="btn btn-danger px-4 mb-2 mt-1 mr-2 ml-2" type="reset" data-dismiss="modal"> <i class="fa fa-search-plus mr-1"></i>CANCEL</button>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                    </form>
                                <% } %>
                            
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>

